---
- name: TLS | Override default data with user one
  set_fact:
    tls_data: "{{ tls_data|default([]) + [tls_common | combine(tls_group, tls_host, recursive=True)] }}"
  when:
    - tls_host | type_debug == "dict"
  tags:
    - always

- name: TLS | Override default data with user one
  set_fact:
    tls_data: "{{ tls_data|default([]) + [tls_common | combine(tls_group, item, recursive=True)] }}"
  with_items: "{{ tls_host }}"
  when:
    - tls_host | type_debug == "list"
  tags:
    - always

- name: TLS | Include clear crontab
  import_tasks: "clear_crontab.yml"
  tags:
    - never
    - clear_crontab

- name: TLS | Include according processing module
  include_tasks: "common.yml"
  loop: "{{ tls_data }}"
  loop_control:
    loop_var: tls

- name: TLS | Include according processing module
  include_tasks: "{{ tls.type }}.yml"
  loop: "{{ tls_data }}"
  loop_control:
    loop_var: tls