---
- name: Create directory for certificates
  become: yes
  become_user: root
  file:
    path: "{{ tls.target_dir }}/{{ tls.self_signed_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Create private key (RSA, 4096 bits)
  community.crypto.openssl_privatekey:
    path: "{{ tls.target_dir }}/{{ tls.self_signed_dir }}/{{ tls.target_key_name }}"

- name: Create simple self-signed certificate
  community.crypto.x509_certificate:
    path: "{{ tls.target_dir }}/{{ tls.self_signed_dir }}/{{ tls.target_cert_name }}"
    privatekey_path: "{{ tls.target_dir }}/{{ tls.self_signed_dir }}/{{ tls.target_key_name }}"
    provider: selfsigned
